{% extends 'base.html' %} {% block content %}
<h1>Intern Details</h1>
<h2>Add New Intern</h2>
<div class="intern-form">
  <form method="POST">
    {{ form.csrf_token }} {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.first_name.label }} {{ form.first_name(size=20) }}
    </div>
    <div class="form-group">
      {{ form.last_name.label }} {{ form.last_name(size=20) }}
    </div>
    <div class="form-group">
      {{ form.designation.label }} {{ form.designation(size=20) }}
    </div>
    <div class="form-group">
      {{ form.email.label }} {{ form.email(size=20) }}
    </div>
    <div class="form-group">
      {{ form.start_date.label }} {{ form.start_date(size=20)}}
    </div>
    <div class="form-group">
      {{ form.end_date.label }} {{ form.end_date(size=20)}}
    </div>
    {{ form.submit }}
  </form>
</div>

{% if interns %}
<h2>Interns</h2>
<div class="interns">
  {% for intern in interns %}
  <div class="intern-box">
    <h3>{{ intern[3] }} {{ intern[4] }}</h3>
    <p><strong>Designation:</strong> {{ intern[5] }}</p>
    <p><strong>Email:</strong> {{ intern[6] }}</p>
    <p><strong>Start Date:</strong> {{ intern[7] }}</p>
    <p><strong>End Date:</strong> {{ intern[8] }}</p>
    <p>
      <strong>URL:</strong>
{#      <a href="{{ app_url }}/redirect_qrcode_scan/{{ intern[9] }}"#}
{#        >experience letter</a#}
{#      >#}
        <a href="/redirect_qrcode_scan/{{ intern[9] }}">experience letter</a>
    </p>
    <img
      src="{{ url_for('static', filename='qr_codes/' + intern[9] + '.png') }}"
      alt="QR Code"
    />
  </div>
  {% endfor %}
</div>
{% endif %} {% endblock %}
